<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem vindes ao meu blog</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquam tempora nisi commodi voluptas? Labore, quaerat veritatis reprehenderit deserunt tenetur quisquam est enim ad minus consequuntur doloribus illum quidem magnam?</p>
        </div>
    </div>
</div>
    <div class="parallax">

    </div>
    <div class="row md-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
           <button class= "btn btn-outline-dark" routerLink = '/feed'>Ver o feed</button>
    </div>

