<div class="col-md-12 d-flex justify-content-center mt-5" id="contato">
        <div>
            <h3 class="text-center mb-4 text-monospace">Contact Us </h3>

            <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="E-mail">
                </div>
            <div class="form-group">
               <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"  placeholder="Message"></textarea>
                
            </div>
            <div class="d-flex justify-content-end md-5 mb-5">
                <button type="button" class="btn btn-outline-info w-30">Let's Talk</button>
            </div>
        </div>

   </div>

